@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  padding: 5px;
  align-items: center;
  min-height: 10vh;
  background: #4607ad;
  font-family: 'Montserrat', sans-serif;
  color: #fff;

}
nav > .logo >img{
  width: 62px;
  margin: 8px;
}

nav > .logo > span {
  font-size: x-large;
  font-weight: 800;
}
.nav-links{
  width: 40%;
  margin: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}
.nav-links > li > Button {
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
}

.nav-links > li > Button:hover{
  background: rgb(85,28,179);
}

.nav-links > li:nth-child(5) > Button{
  border: 1px  solid #fff;
}
a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  text-decoration: none;
  color: #fff;
}